@inherits RazorViewDependencyInjection.Pages.InjectableWebViewPage
@{
    ViewBag.Title = "Home Page";
}

<h3 class="text-danger">API Token (from ViewBag): @ViewBag.Token</h3>

<h3 class="text-info">API Token (from direct Injection in View): @TokenService.ApiToken</h3>